.c1{background-color:powderblue;font-family: Berlin Sans FB;}
#I{text-align:center;color:blue;}
#I2{font-family: Berlin Sans FB;}
#I3{font-family: Berlin Sans FB; background-color:powderblue;}
#w{background-color:powderblue;}
.c2{background-color:powderblue;font-family: Aharoni;}
